/*https://codepen.io/cferdinandi/pen/pojrmQb*/
.item {
	background-color: rgba(229, 229, 229, 0.5);
	border: 1px solid rgba(128, 128, 128, 0.5);
	padding: 0.25em;
}

.stamped {
  background-color: rgba(184, 39, 39, 0.5);
  border: 1px solid rgba(184, 39, 39, 0.5);
  padding: 0.25em;
}